* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 141, 213);
    width: 100%;
    position: absolute;
    background-image: url(/images/white\ dog.png);
    background-repeat: repeat;
    z-index: -2;
}

header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

.pre-header {
    background-color: rgb(121, 134, 164);
    height: 6rem;
    border: none;
    border-radius: 0px 0px 90px 90px;
    width: 100%;
}


.pre-header div p {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    margin-top: 20px;
    transition: 0.2s;
}

.pre-header div p:hover{
    color: red;
    font-size: 20px;
}

.logoWhite,.logoBlack{
    /*
    position: absolute;
    */
    height: 96px;
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.pre-menu{
    list-style: none;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
}

.pre-menu li{
    display: inline-block;
    margin-left: 15px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: medium;
    transition: 0.4s;
}

.pre-menu li:hover{
    padding: 5px;
    border: solid rgb(255, 238, 0) 3px ;
    border-radius: 10px;
}

.pre-menu li a {
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s;
}

.pre-menu li a:hover {
    color: rgb(255, 238, 0);
    font-weight: 700;
}



#regForm{
    margin-top: 20rem;
    font-size: 1.5rem;
    background-color: rgb(120, 203, 206);
    padding: 5rem;
    border-radius: 10%;
    
}

#emailField1,#emailField2,#repeatemailField{
    height: 3.8rem;
    font-size: larger;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}

#repeatemailField{
    margin-top: 16px;
}

#passLog,#passSign,#passRepeat{
    height: 3.8rem;
    font-size: larger;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.passwordLabel{
    display: block;
}

#checkSection1,#checkSection2{
    width: auto;
    height: 15%;
    margin-bottom: 0px;
}

#checkLogBtn,#checkLogBtn::selection,#keepLoggedIn,#keepLoggedIn::selection
,#checkSignBtn,#checkSignBtn::selection,#checkAgreeTerms,#checkAgreeTerms::selection{
    height: 1.8rem;
    height: 1.8rem;
    width: 1.8rem;
    margin-left: 10%;
}

label{
    color: rgb(0, 0, 0);
}
#emailHelp{
    color: rgb(0, 0, 0) !important;
}
#forLoginPasswordField{
    position: relative;
    
}
#eyeLog{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 90%;
    top: 30%;
    cursor: pointer;
}
#forSignPasswordField{
    position: relative;
    
}
#eyeSign{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 90%;
    top: 30%;
    cursor: pointer;
}

#showLoginPass,#keepMeLogged,#showSignInPass,#agreeTerms{
    margin-left: 20%;
    display: block;
}

#logInBtn,#signInBtn{
    width: 15rem;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1rem;
    align-items: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    color: black;
}

#arrow{
    color: rgb(0, 0, 0);
    font-size: 40px;
}

#logInBtn:hover i,#signInBtn:hover i{
    animation: loginArrow 1.3s ease-in-out;
}

@keyframes loginArrow{
    form{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
        color: rgb(255, 0, 0);
    }
    50%{
        transform: rotate(180deg);
        color: rgb(255, 251, 0);
    }
    75%{
        transform: rotate(270deg);
        color: rgb(131, 131, 131);
    }
    to{
        transform: rotate(360deg);
        color: rgb(255, 255, 255);
    }
}

#powerBtn{
    display: flex;
    justify-content: center;
    height: 6rem;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
}

.btnSign ,.btnLog{
    padding: 1.0rem 3rem;
    background-color: 209, 209, 209;
    outline-style: none;
    position: relative;
    margin: auto;
}

.btnSign:focus,.btnLog:focus{
    outline-style: none;
    background: transparent;
    border-radius: 30px 30px 30px 30px;
}

.btnLog{
    border: 1;
    border-right: none;
    border-radius: 30px 30px 30px 30px;
}

.btnSign{
    border: 1px 1px 1px 0px;
    border-radius: 30px 30px 30px 30px;
    border-left: none;
}

